*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body{
    text-align: center;
    font-size: xx-large;
    font-weight: 400px;
    font-style: normal;
}
#input{
    background-image: url(https://cdn.pixabay.com/photo/2017/06/21/20/33/background-2428462_960_720.jpg);
    height: 50vh;
    width: 100vw;
    /* background-repeat: no-repeat; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
}
 h1{
    font-size: 4em;
 }

 p{
    font-size: 2em;
    margin: 10px;
 }

 #number{
    width: 180px;
    height: 60px;
    font-size: 1em;
    padding: 0px 8px;
}

#button{
    width: 250px;
    height: 80px;
    font-size: 1.5em;
    background-color: black;
    color: azure;
    border: none;
}

.circle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    color:whitesmoke;
    border-radius: 60%;
    margin: 10px;
    text-align: center;
    width: 90px;
    height: 90px;
    background-color:red;
}
.square{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    color:whitesmoke;
    text-align: center;
    margin: 10px;
    background-color: rgb(18, 18, 19);
    width: 90px;
    height: 90px;
}
.rectangle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    color:whitesmoke;
    text-align: center;
    margin: 10px;
    background-color: rgb(69, 66, 248);
    width: 160px;
    height: 90px;
}

.triangle{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    color:whitesmoke;
    text-align: center;
    border-left: 25px solid transparent;
    border-right: 25px solid transparent;
    border-bottom: 50px solid #555;
}

#box{
    display: flex;
    flex-wrap: wrap;
}